 I *,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

:root {
  /* Colors */
  --color-background: #fffaf7;
  --color-container: #f6dede;
  --color-primary: #7a1f35;
  --color-border: pink;
  --color-text: #000;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 3rem;
  --spacing-extra-large: 4rem;

  /* Font size */
  --font-size-medium: 1rem;
}

body {
  background-color: var(--color-background);
  line-height: 1;
  font-family: Arial, sans-serif;
  font-size: var(--font-size-medium);
  padding: var(--spacing-medium);
  margin: auto;
}

.container {
  background-color: var(--color-container);
  padding: var(--spacing-large);
}

header {
  text-align: center;
  padding: var(--spacing-extra-large) 0;
}

h1 {
  color: var(--color-primary);
  margin: 1rem;
}

p {
  color: var(--color-primary);
  font-size: var(--font-size-medium);
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-medium);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  text-decoration: none;
  color: var(--color-text);
  background-color: var(--color-background);
  padding: var(--spacing-medium);
  border: 1px solid var(--color-border);
}

.card h2 {
  color: var(--color-primary);
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-small);
}

.card p {
  color: var(--color-primary);
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-small);
}

.grid-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

footer {
  text-align: center;
  padding: var(--spacing-large);
}

footer p {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  body {
    padding: var(--spacing-small);
  }

  .container {
    padding: var(--spacing-medium);
  }

  header {
    padding: var(--spacing-large) 0;
  }

  h1 {
    font-size: 2rem;
  }

  .grid-card {
    grid-template-columns: 1fr;
  }

  .card {
    padding: var(--spacing-medium);
  }

  .grid-card img {
    height: auto;
  }

  footer {
    padding: var(--spacing-medium);
  }
}